/* colors */
$font-color-white: #fffffd;
$font-color-black: #000;
$brand-color-blue: #0072d2;

/* breakpoints */
$breakpoint-tablet-vertical: 600px;
$breakpoint-tablet-horizontal: 900px;
$breakpoint-desktop: 1200px;